@import "../../StyleGlobal";


.ButtonLogin {
  @media screen and ( max-width:$break-width){
    width: 17rem;
    height: 44px;
    border-radius: 5px;
    background-color: #3797EF;
    border:none;
    margin-top:1.5rem;

    .TextButtonLogin{
      font-size: SF Pro Text;
      color: #FFFFFF;
      font: 500 bold 0.9rem;
    }
    
  }
}
