@import "../../StyleGlobal";

.ComponentLoginInFacebook {
  @media screen and (max-width: $break-width) {
    display: flex;
    margin: 30px; 

    .icon {
      margin-right: 10px;
    }

    .Text {
      font-family: SF Pro Text;
      color: $coloBlue;
    }
  }
}
